logs
target
project/project
project/target
/.idea
/.idea_modules
/.eclipse
/.classpath
/.project
/.settings
/RUNNING_PID
tmp
.history
dist
*.iml
*.eml
.cache
.sbtserver/
project/.sbtserver*
/project/sbt-ui.sbt
