##playframework as recommended by https://www.playframework.com/documentation/2.5.x/Anatomy#Typical-.gitignore-file
logs
project/project
project/target
target
tmp
dist
.cache

##intellij
/.idea
/.idea_modules
*.iml
*.eml

##eclipse items
/.eclipse
/.classpath
/.project
/.settings

##other IDEs, activator ui, misc.
.history
.sbtserver/
project/.sbtserver*
/project/sbt-ui.sbt
